<div class="form-documents">
    <div class="flex flex-wrap flex">
	{% for (var i=0; i < transactions.length; i++) { %}
		<div class="flex-column col-xs-6 col-md-3">
			<h6>{{ transactions[i].label }}</h6>
			{% for (var j=0; j < transactions[i].items.length; j++) {
				var doctype = transactions[i].items[j]; %}
			<div class="document-link"
				data-doctype="{{ doctype }}">
				<a class="badge-link small">{{ __(doctype) }}</a>
				<span class="text-muted small count"></span>
				<span class="open-notification hidden"
					title="{{ __("Open {0}", [__(doctype)])}}"></span>
				{% if !internal_links[doctype] %}
					<button class="btn btn-new btn-default btn-xs hidden"
						data-doctype="{{ doctype }}">
							<i class="octicon octicon-plus" style="font-size: 12px;"></i></button>
				{% endif %}
			</div>
			{% } %}
		</div>
	{% } %}
    </div>
</div>
